/* item button */
.rdp-item-button {
  margin: 2em;
  padding: 0.5em;
  border: 1px solid #505050;
  font-size: 2em;
  text-align: center;
}

.rdp-item-button.default {

}

.rdp-item-button.active {

}

.rdp-item-button.hover {

}

.rdp-item-button.disabled {

}

.rdp-item-button.max-height {

}

/* views */
.rdp-year-view {

}

.rdp-month-view {

}

.rdp-day-view {

}

.rdp-weekday {

}

/* calendar*/
.rdp-calendar {

}

/* date picker */
.rdp-date-picker {

}
