/* item button */
.rdp-item-button {
  display: flex;
  border: 1px solid #ACACAC;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  user-select: none;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05), 0 0 #0000, 0 1px 2px 0 rgba(0, 0, 0, 0.05), 0 0 #0000, 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  transition: opacity .15s;
  border-radius: 0.1rem;
}

.rdp-item-button:hover {
  opacity: 0.6;
}

.rdp-item-button.default {
  background-color: white;
}

.rdp-item-button.active {
  background-color: blue;
}

.rdp-item-button.highlighted {
  background-color: lightgreen;
}

.rdp-item-button.disabled {
  background-color: lightgray;
  color: gray;
  cursor: not-allowed;
}

.rdp-item-button.max-height {
  height: 3.5rem;
}

/* views */
.rdp-year-view {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 0.25rem;
  height: 100%;
  align-items: center;
}

.rdp-month-view {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 0.25rem;
  height: 100%;
  align-items: center;
}

.rdp-day-view {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  gap: 0.25rem;
  height: 12rem;
  text-align: center;
}

.rdp-weekday {
  padding-top: 0.4rem;
  font-size: 0.875rem;
  user-select: none;
  color: #505050;
}

/* calendar*/
.rdp-calendar {
  width: 15rem;
}

.rdp-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.25rem;
}

.rdp-navbar-buttons {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.rdp-navbar-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 24px;
  min-width: 24px;
  color: #505050;
  background-color: white;
  border: 1px solid #909090;
  transition: opacity .15s;
  cursor: pointer;
  border-radius: 0.15rem;
}

.rdp-navbar-button.disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.rdp-navbar-button:hover {
  opacity: 0.6;
}

.rdp-navbar-dates {
  display: flex;
  align-items: center;
  user-select: none;
  padding: 0 0.25rem;
}

.rdp-navbar-date {
  transition: background-color .15s;
  background-color: white;
  padding: 0.1rem 0.25rem;
}

.rdp-navbar-date.clickable {
  cursor: pointer;
}

.rdp-navbar-date.clickable:hover {
  background-color: #ECECEC;
}

/* date picker */
.rdp-date-picker-content {
  background-color: white;
  padding: 0.4rem;
  border: 1px solid gray;
}
